@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --color-one: #232323;
    --color-text: #777777;
    --bg-one: #EFEFEF;
    --bg-two: #DCE8EB;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}